<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChameleonMiniGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BOOTLOADER_EXE" value="BOOT_LOADER_EXE.exe" />
    <add key="BOOTLOADER_PATH" value="Extras\" />
    <add key="FLASH_BINARY" value="myfile.bin" />
    <add key="EEPROM_BINARY" value="myfilee.bin" />
  </appSettings>
  <userSettings>
    <ChameleonMiniGUI.Properties.Settings>
      <setting name="DownloadDumpPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableKeepAlive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KeepAliveInterval" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="Language" serializeAs="String">
        <value>English</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value>v1.2.0</value>
      </setting>
    </ChameleonMiniGUI.Properties.Settings>
  </userSettings>

</configuration>