<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BOOTLOADER_EXE" value="BOOT_LOADER_EXE.exe"/>
    <add key="BOOTLOADER_PATH" value="Extras"/>
  </appSettings>
</configuration>